<div data-control="toolbar">
	<a href="<?= Backend::url('flynsarmy/redirection/redirects/create') ?>" class="btn btn-primary oc-icon-plus">New Redirect</a>

    <span class="btn-group">
        <div class="dropdown dropdown-fixed">
            <button
                    type="button"
                    class="btn btn-default oc-icon-folder"
                    data-toggle="dropdown"

                    disabled="disabled"

                    data-trigger-action="enable"
                    data-trigger=".control-list input[type=checkbox]"
                    data-trigger-condition="checked">
                Bulk actions...
            </button>
            <ul class="dropdown-menu" data-dropdown-title="Assign selected to...">
                <li>
                    <a href="#" tabindex="-1" class="oc-icon-plus"
                       onclick="$(this).data('request-data', {
                        checked: $('.control-list').listWidget('getChecked'),
                    })"
                       data-request="onEnable"
                       data-request-confirm="Do you really want to enable these redirects?"
                       data-stripe-load-indicator>Enable</a>
                </li>
                <li>
                    <a href="#" tabindex="-1" class="oc-icon-minus"
                       onclick="$(this).data('request-data', {
                        checked: $('.control-list').listWidget('getChecked'),
                    })"
                       data-request="onDisable"
                       data-request-confirm="Do you really want to disable these redirects?"
                       data-stripe-load-indicator>Disable</a>
                </li>
                <li>
                    <a href="#" tabindex="-1" class="oc-icon-trash"
                       onclick="$(this).data('request-data', {
                        checked: $('.control-list').listWidget('getChecked')
                    })"
                       data-request="onDelete"
                       data-request-confirm="Do you really want to delete these redirects?"
                       data-stripe-load-indicator>Delete</a>
                </li>
            </ul>
        </div>
    </span>

    <a href="<?= Backend::url('flynsarmy/redirection/redirects/reorder') ?>" class="btn btn-default oc-icon-bars">Manage Order</a>

    <button class='btn btn-info oc-icon-question-circle' data-toggle="modal" data-target="#testURL">Test URL</button>

    <?php if ( Flynsarmy\Redirection\Classes\Manager::instance()->canCacheWithTags() ): ?>
        <button id="redirectionFlushCache" class='btn btn-danger oc-icon-refresh' data-request="onFlushCache" data-toggle="tooltip" data-placement="bottom" data-original-title="This will clear all cached redirects from the system so the first time each URL is hit, a fresh redirect check will occur.">Flush Cache</button>
        <script>
            $('#redirectionFlushCache').tooltip({'container': 'body'})
        </script>
    <?php endif; ?>

    <span class="btn-group">
        <a href="<?= Backend::url('flynsarmy/redirection/redirects/import') ?>" class="btn btn-default oc-icon-upload">Import</a>
        <a href="<?= Backend::url('flynsarmy/redirection/redirects/export') ?>" class="btn btn-default oc-icon-download">Export</a>
    </span>
</div>

<?= $this->makePartial('test_url_modal'); ?>
