<div class="form-buttons loading-indicator-container">
    <a
        href="javascript:;"
        class="btn btn-primary oc-icon-ok save"
        data-request="onSave"
        data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
        data-hotkey="ctrl+s"

        <?php if (isset($formModel)): ?>
            data-request-data="redirect:0"
        <?php endif ?>

        data-hotkey-mac="cmd+s">
            <?= e(trans('backend::lang.form.save')) ?>
    </a>

    <?php if (isset($formModel)): ?>
        <a
            href="javascript:;"
            class="btn btn-primary oc-icon-ok save"
            data-request="onSave"
            data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
        >
                <?= e(trans('backend::lang.form.save_and_close')) ?>
        </a>
    <?php endif ?>

    <?php if (isset($formModel)): ?>
        <button
            type="button"
            class="btn btn-default empty oc-icon-trash-o"
            data-request="onDelete"
            data-request-confirm="Do you really want to delete this post?"
            data-request-success=""
            data-control="delete-button"></button>
    <?php endif ?>
</div>
