<?php foreach ($records as $record): ?>

    <tr data-record-id="<?= $record->id ?>">
        <td class='record'>
            <a href="javascript:;" class="move"></a>
        </td>
        <td class='record'>
            <span><?= $record->from_url ?></span>
        </td>
        <td class='record'>
            <span><?= $record->to_url ?></span>
        </td>
        <td class='record'>
            <span><?= $record->match_type ?></span>
        </td>
        <td class='record'>
            <span><?= $record->redirect_code ?></span>
        </td>
        <td class='record'>
            <span><?= $record->hits ?></span>
        </td>
    </tr>

<?php endforeach ?>
