<?php if ( !sizeof($matches) ): ?>
	<p>This URL does not trigger any redirects.</p>
<?php else: ?>
	<table class="table data">
		<thead>
			<th><span>From URL</span></th>
			<th><span>To URL</span></th>
		</thead>
		<tbody>
			<?php
				foreach ( $matches as $match ):
					$url = Backend::url('flynsarmy/redirection/redirects/update/'.$match->id);
			?>
				<tr>
					<td><a href='<?= $url ?>'><?= $match->from_url ?></a></td>
					<td><a href='<?= $url ?>'><?= $match->to_url ?></a></td>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
	<p>&nbsp;</p>
<?php endif; ?>
