<div class="modal fade" id="testURL" tabindex="-1" role="dialog" aria-labelledby="testURLLabel" aria-hidden="true">
	<form role="form" data-request="onTestURL" data-stripe-load-indicator>
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="testURLLabel">Test a URL</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="exampleInputEmail1">URL</label>
						<input type="text" name="url" class="form-control" id="exampleInputEmail1" placeholder="<?= URL::to('foo') ?>">
						<p class="help-block">Enter a URL above test if the given URL will trigger any redirects. They'll be listed below.</p>
					</div>

					<div id="testURLResults"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Test</button>
				</div>
			</div>
		</div>
	</form>
</div>
