<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('system/settings') ?>">Settings</a></li>
        <li><a href="<?= Backend::url('flynsarmy/redirection/redirects') ?>">Manage Redirects</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="layout fancy-layout">
        <?= Form::open([
            'class' => 'layout',
            'data-window-close-confirm' => 'The redirect is not saved.',
            'id' => 'post-form'
        ]) ?>

        <?= $this->formRender() ?>

        <?= Form::close() ?>
    </div>

<?php else: ?>
    <div class="padded-container">
        <div class="control-breadcrumb">
            <?= Block::placeholder('breadcrumb') ?>
        </div>
        <p class="flash-message static error"><?= e($this->fatalError) ?></p>
        <p><a href="<?= Backend::url('flynsarmy/redirection/list') ?>" class="btn btn-default">Return to redirects list</a></p>
    </div>
<?php endif ?>
