<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('system/settings') ?>">Settings</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if ( !Flynsarmy\Redirection\Classes\Manager::instance()->canCacheWithTags() ): ?>
    <div style='padding:0 20px 1px 20px'>
        <?php
            echo $this->makeHintPartial('flynsarmy.redirection.bad_cache_driver', 'badcachedriver', [
                'type' => 'danger',
                'title' => 'Warning',
                'icon' => 'icon-warning',
            ]);
        ?>
    </div>
<?php endif; ?>

<?= $this->listRender() ?>
