<?php Block::put('breadcrumb') ?>
	<ul>
		<li><a href="<?= Backend::url('system/settings') ?>">Settings</a></li>
		<li><a href="<?= Backend::url('flynsarmy/redirection/redirects') ?>">Manage Redirects</a></li>
		<li><?= e($this->pageTitle) ?></li>
	</ul>
<?php Block::endPut() ?>

<?= $toolbar->render() ?>

<div
	id="reorderTreeList"
	class="control-treelist"
	data-control="tabletreelist"
	data-handle="a.move"
	data-placeholder='<tr class="placeholder"/>'
	data-stripe-load-indicator>
	<table width='100%' id="reorderRecords" class='table data'>
		<thead><tr>
			<th class="list-tree"><span></span></th>
			<th><span>From URL</span></th>
			<th><span>To URL</span></th>
			<th><span>Match Type</span></th>
			<th><span>Redirect</span></th>
			<th><span>Hits</span></th>
		</tr></thead>
		<tbody>
			<?= $this->makePartial('reorder_records', ['records' => $records]) ?>
		</tbody>
	</table>
</div>

<script>

	/*
	 * Post back source and target nodes IDs and the move positioning.
	 */
	$('#reorderTreeList').on('move.oc.tabletreelist', function(ev, data){
		var item = data.item;
		var items = item.closest('TABLE').find('[data-record-id]');
		var sortedIds = $.makeArray(items.map(function() {
			return $(this).data('recordId');
		}));

		$('#reorderTreeList').request('onMove', {
			data: {
				sourceNode: item.data('recordId'),
				sortedIds: sortedIds
			}
		})
	})

</script>
