<?php if ( ! $this->fatalError): ?>

    <div id="executePopup">

        <div id="executeActivity">
            <div class="modal-body">
                <div class="progress bar-loading-indicator" id="executeLoadingBar">
                    <div class="progress-bar"></div>
                </div>

                <div class="loading-indicator-container">
                    <p>&nbsp;</p>
                    <div class="loading-indicator transparent">
                        <div id="executeMessage"></div>
                        <span></span>
                    </div>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>

        <div id="executeStatus"></div>
    </div>

    <script type="text/template" id="executeFailed">
        <div class="modal-body">
            <div class="callout callout-danger">
                <div class="header">
                    <h3><?php echo e(trans('renatio.backupmanager::lang.backup.backup_failed_label')) ?></h3>
                    <p>{{ reason }}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-primary"
                onclick="$.oc.backupProcess.retryBackup()">
                <?php echo e(trans('system::lang.updates.retry_label')) ?>
            </button>
            <button
                type="button"
                class="btn btn-default"
                data-dismiss="popup">
                <?php echo e(trans('backend::lang.form.cancel')) ?>
            </button>
        </div>
    </script>

    <script>

        $('#executePopup').on('popupComplete', function(){
            $.oc.backupProcess.execute(<?php echo json_encode($backupSteps) ?>)
        })

    </script>

<?php else: ?>

    <div class="modal-body">
        <p class="flash-message static error"><?php echo e(trans($this->fatalError)) ?></p>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
            <?php echo e(trans('backend::lang.form.close')) ?>
        </button>
    </div>

<?php endif ?>
