title = "Home - Youth Making a Difference"
url = "/"
layout = "master"
is_hidden = 0
==
<div class="container-fluid">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>
	
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <img src="http://ymad.dev/storage/app/media/file000132701536.jpg" class="img-responsive" alt="...">
	      <div class="carousel-caption">
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, libero. Sint magnam nobis, voluptatum ea odit perspiciatis, nihil voluptatibus sed enim rem maiores nesciunt quibusdam? Tenetur dolorem accusamus delectus quaerat!</p>
	      </div>
	    </div>
	    <div class="item">
	      <img src="http://ymad.dev/storage/app/media/file0001141038889.jpg" class="img-responsive" alt="...">
	      <div class="carousel-caption">
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dicta rerum voluptate fugit modi velit amet, error officia nesciunt odio consequuntur maiores animi molestias autem porro praesentium vero perferendis quia?</p>
	      </div>
	    </div>
		<div class="item">
		  <img src="http://ymad.dev/storage/app/media/file0001141038889.jpg" class="img-responsive" alt="...">
		  <div class="carousel-caption">
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dicta rerum voluptate fugit modi velit amet, error officia nesciunt odio consequuntur maiores animi molestias autem porro praesentium vero perferendis quia?</p>
		  </div>
		</div>
	  </div>
	
	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>