@import "../../../../../modules/backend/assets/less/core/boot.less";

/* october.css has .control-toolbar{font-size:0} to fix white space issues. This breaks modals, so present a working size */
.modal .modal-body {font-size:12px;}

.fancy-layout {
    .control-tabs, &.control-tabs {
        > div.tab-content {
            > div.tab-pane {
                padding: 15px 15px 0 15px;
            }
        }
    }
}